<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Zap needs access to your microphone to record audio notes.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Zap needs access to your photo library to save photos and videos.</string>
    <key>NSCameraUsageDescription</key>
    <string>Zap needs access to your camera to take new photos and videos.</string>

</dict>
</plist>
